
#AdminCustomersPage > header i:first-child >svg{
    color: #666363;
}
#AdminCustomersPage table td{
    width:20vw;
    padding:10px;
} 

#AdminCustomersPage table input:focus{
    border:none;
    outline:none;
}
#AdminCustomersPage table input:focus-visible{
    border:none;
    outline:none;
}
#AdminCustomersPage table input::placeholder{
    margin-left:5px;
}
#AdminCustomersPage>main{
    border-color: rgb(207, 193, 216);
    border-width: 2px;
    box-shadow: -2px 2px 11px #bbbbae;
}
#AdminCustomersPage>main .table-header{
    border-width: 1px;
    border-color: rgb(220, 230, 166);
}
#AdminCustomersPage>main .table-header i{
    margin-top: 6px;
    margin-left: 4px;
}
#AdminCustomersPage>main .table-header i>svg{
    height: 10px;
    width: 8px;
    margin-top: -7px;
    cursor: pointer;
}
#AdminCustomersPage table>thead #searcher>.case-tooltip:hover::after{
    position: absolute;
    left: 11px;
    bottom: 22px;
    content: 'Match Case';
    width: 4rem;
    border: 1px solid var(--SECONDARY);
    font-size: 8px;
    text-align: center;
    border-radius: 4px;
}
#AdminCustomersPage table>thead .customer-dropdown svg{
    color: var(--SECONDARY);
    color: #f1c40f;
    font-size: 16px;
}
#AdminCustomersPage table>thead .customer-dropdown ul li>hr{
    width: 100%;
    height: 2px;
    border-bottom: 0.24px dotted var(--SECONDARY); 
    border-top: 0px;
    display: none;
    /* border-bottom: 1px dashed rgba(132, 120, 138, 0.52); */
}
#AdminCustomersPage table>tbody .action-buttons button{
    padding-block: 2px;
    padding-inline: 16px;
    border: 1px solid rgb(190, 200, 138);
    border-radius: 4px;
    color: black;
    background: rgba(215, 241, 72, 0.34);
    background: var(--PRIMARY);
    box-shadow: -1px 1px 8px #babaa5;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    /* border: 1px solid var(--SECONDARY); */
    /* box-shadow: 1px 1px 2px #b7b2b2; */
}
#AdminCustomersPage table>tbody .action-buttons button>svg:first-child{
    /* color:red; */
    font-size:12px;
}
#AdminCustomersPage table>tbody .action-buttons button>svg:last-child{
    color: #e74c3c;
    font-size:15px;
}
#AdminCustomersPage table > tbody tr{
    border-bottom: 1px dashed rgba(132, 120, 138, 0.52);
} 
#AdminCustomersPage #Layer_1 .svg-upsort{
    fill:none;
    stroke:#000;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-width:66.67px;
}