#imageCropper #image-cropper-container {
    background-color: rgba(0, 0, 0, 0.6); 
    z-index: 5; 
  }

  #imageCropper #image-cropper-content {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  #imageCropper #image-section .image-list-overlay::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.3);
  }
  