
#AdminAddProduct main textarea{
    resize: none;
    border: 1px solid var(--PRIMARY);
    border-radius: 5px;
    width: 100%
}
#AdminAddProduct main .product-input-wrapper{
    padding-inline: 17px;
    padding-block: 19px;
    border: 1.5px solid rgba(187, 168, 198, 0.52);
    border-radius: 7px;
    background: rgba(243, 230, 251, 0.52);
}
#AdminAddProduct main .product-input-wrapper .input-wrapper{
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 100%;
}
#AdminAddProduct main .product-input-wrapper label{
    font-size: 11.6px;
}
#AdminAddProduct main .product-input-wrapper input{
    width: 100%;
    height: 2.4rem;
    border: 1px solid var(--PRIMARY);
    border-radius: 5px;
    padding-right: 0;
}
#AdminAddProduct main .product-input-wrapper .input-wrapper #product-tags:focus{
    border: 0px !important;
    outline: 0px !important;
    --tw-ring-shadow: 0;
}
#AdminAddProduct main .product-input-wrapper .input-wrapper #product-tags:focus-visible{
    border: 0px !important;
    outline: 0px !important;
    --tw-ring-shadow: 0;
}
#AdminAddProduct main .product-input-wrapper .input-wrapper .tags-wrapper .single-tag{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--SECONDARY);
    border: 1px solid rgb(224, 204, 238);
    border-radius: 9px;
    font-size: 11px;
    margin-left: 10px;  /* 10px */
    padding-right: 10px;
    padding-left: 12px;
    margin-top: 8px;
}
#AdminAddProduct main .product-input-wrapper .input-wrapper .tags-wrapper .single-tag:first-child{
    margin-left: 25px;
}
#AdminAddProduct main .product-input-wrapper .input-wrapper .single-tag > svg{
    font-size: 14px;
}
#AdminAddProduct main input::placeholder, #AdminAddProduct main textarea::placeholder{
    color: #6b7280;
    opacity: 1;
    font-size: 9px;
}
