
#ProductListingTools > input:first-child{
    border-color: rgb(212, 176, 236);
    box-shadow: 2px 2px 12px rgb(233, 222, 242);
}
#ProductListingTools #limit-dropdown ul{
    background: rgba(243, 230, 251, 0.9);
}
#ProductListingTools #limit-dropdown ul li{
    width: 100%;
    text-align: center;
}
#ProductListingTools #limit-dropdown ul li:hover{
    background: var(--PRIMARY);
}
#ProductListingTools .sort-by > svg{
    color:var(--SECONDARY)
}
#ProductListingTools .view-type span > svg{
    color: var(--SECONDARY);
    padding: 4px;
    height: 24px;
    width: 24px;
    background: rgb(242, 245, 229); 
    cursor: pointer;
}
#ProductListingTools .sort-dropdown > ul{
    background: white;
    color: #121212;
}
#ProductListingTools .sort-dropdown > ul li{
    margin-inline: 6px;
    width: 100%;
}
#ProductListingTools .sort-dropdown > ul li>span:hover{
    color: var(--SECONDARY);
}
#ProductListingTools .sort-dropdown > ul li>span input{
    height: 9px;
    width: 9px;
    color: var(--SECONDARY);
    border-radius: 5px;
    border-color: var(--SECONDARY);
    margin-right: 5px; 
}
#ProductListingTools .sort-dropdown > ul li>span input:focus{
    --tw-ring-shadow: none;
}
#ProductListingTools .sort-dropdown > ul li > svg{
    color: var(--SECONDARY);
}
#ProductListingTools .view-type span:hover::before{
    content: attr(data-label);
    width: 5.2rem;
    height: 14px;
    position: absolute;
    font-size: 11px;
    padding: 2px;
    border-radius: 4px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -22px;
    left: -15px;
    font-weight: 500;
    letter-spacing: 0.4px;
}