
#products-display .thumbnail{
    background: rgb(243, 245, 247);
}
#products-display .favourite > svg{
    font-size: 18px;
    color: var(--SECONDARY);
}
#products-display .product-infos{
    background: rgba(243, 230, 251, 0.52);
    /* border: 1px solid rgba(159, 42, 240, 0.44); */
}
#products-display .product-infos .emptystar > svg{
    height: 15px;
    width: 15px;
}
#products-display figcaption .admin-control:hover::after{
    content: attr(data-label);
    width: 3.3rem;
    height: 27px;
    position: absolute;
    left: 4px;
    bottom: 0px;
    /* top: 0.5px; */
    padding: 2px;
    padding-inline: 55px;
    /* padding-right: 20px; */
    border: 1px solid var(--PRIMARY); 
    border-left: transparent;
    border-radius: 5px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation-name: fadeIn-caption;
    animation-duration: 0.4s;
    animation-delay: 0.1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}       
#products-display figcaption .admin-control > i > svg {
    transform: rotate(0deg); 
  }

#products-display figcaption .admin-control:hover > i > svg {
    animation-name: rotate-icon;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 0.1s;
  }

@keyframes rotate-icon {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @keyframes fadeIn-caption {
    from{
        width:0rem;
        padding-inline: 0px;
    }
    to {
      opacity: 1;
      width: 3.3rem;
      padding-inline: 55px;
    }
  }

#ProductsTableView > table thead .table-header{
    border-width: 1px;
    border-color: rgb(220, 230, 166);
}
#ProductsTableView > table thead .table-header i{
    margin-top: 6px;
    margin-left: 4px;
}
#ProductsTableView > table thead .table-header i > svg{
    height: 10px;
    width: 8px;
    margin-top: -7px;
    cursor: pointer;
}
#ProductsTableView table>tbody .action-buttons button{
  padding-block: 2px;
  padding-inline: 28px;
  border: 1px solid rgb(190, 200, 138);
  border-radius: 4px;
  color: black;
  background: var(--PRIMARY);
  box-shadow: -1px 1px 8px #babaa5;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}
#ProductsTableView table>tbody .action-buttons button:first-child >svg{
  color: var(--SECONDARY);
  font-size: 12px;
}
#ProductsTableView table>tbody .action-buttons button:last-child >svg{
  color: red;
  font-size: 15px;
}
#ProductsTableView #Layer_1 .svg-upsort{
  fill: none;
  stroke: #000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 66.67px;
}