
#AdminProductList .chip{
    padding: 2px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding-block: 4px;
    padding-inline: 15px;
    border-radius: 8px;
    font-size: 14px;
    letter-spacing: 0.2px;
    background: var(--PRIMARY);
    color: #332929;
    box-shadow: 2px 2px 7px rgb(201, 204, 183);
    border: 1px solid rgb(214, 201, 223);
}
#AdminProductList .chip i{
    color: var(--SECONDARY);
    font-size: 15px;
}
#AdminProductList main .tab > h4{
    font-size: 14px;
    color: var(--SECONDARY);
}
#AdminProductList main .view-type span > svg{
    color: var(--SECONDARY);
    padding: 4px;
    height: 24px;
    width: 24px;
    background: rgb(242, 245, 229); 
    cursor: pointer;
}
#AdminProductList main .view-type span:first-child > svg{
    height: 28px;
    width: 28px;
}