#HeroSection .bgImage::before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
    backdrop-filter:blur(4px);
}