#OfferModal form input:not([id = 'customerSpecific'], [id = 'applicableProductsSearch'], [id = 'selectProducts'], [id = 'customersSearch']),
#OfferModal form textarea, #OfferModal form select{
    margin-top: 4px;
    display: block;
    width: 100%;
    padding-block: 5px;
    padding-inline: 12px;
    border: 1px solid var(--INPUT-BORDER-LOW);
    border-radius: 6px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}
#OfferModal form input:not([id = 'applicableProductsSearch'], [id = 'selectProducts'], [id = 'customersSearch']):focus, 
#OfferModal form input[type = 'date']:focus, #OfferModal form select:focus, #OfferModal form textarea:focus{
    outline: 0;
    border-color: var(--SECONDARY);
    box-shadow: 0 0 0 1px var(--SECONDARY);
}
#OfferModal form input:not([id = 'applicableProductsSearch'], [id = 'selectProducts'], [id = 'customersSearch']):focus-visible,
#OfferModal form input[type = 'date']:focus, #OfferModal form select:focus-visible, #OfferModal form textarea:focus-visible{
    outline: 0;
    border-color: var(--SECONDARY);
    box-shadow: 0 0 0 1px var(--SECONDARY);
}
/* #OfferModal form input[type = 'date']{
    font-size: 13px;
    color: var(--SECONDARY);
} */
#OfferModal form input{
    font-size: 13px;
}
#OfferModal form input::placeholder{
    font-size: 11px;
}
#OfferModal form select{
    font-size: 13px;
    color: var(--SECONDARY);
}
#OfferModal form textarea{
    font-size: 13px;
}
#OfferModal form div label + .error{
    font-size: 10px;
    color: #e74c3c; 
}
#OfferModal form div input ~ .error{
    position: absolute;
    margin-left: 2px;
    margin-top: 3px;
    font-size: 10px;
    color: #e74c3c; 
}
#OfferModal form div .input-contoller{
    position: absolute;
    top: 44%;
    right: 10px;
    display: flex;
    flex-direction: column;
    gap: 3px;
}
#OfferModal form div .input-contoller > svg{
    width: 20px;
    height: 15px;
    padding: 3px;
    stroke-width: 4px;
    color: var(--SECONDARY);
    background: var(--PRIMARY);
    border-radius: 2px;
    cursor: pointer;
}
#OfferModal form #applicableCategories-section #applicableCategories #category-content > li .category-name{
    gap: 7px;
}
#OfferModal form #applicableCategories-section #applicableCategories #category-content > li .category-name > input{
    padding: 0px;
    margin-top: 0px;
}
#OfferModal form #applicableCategories-section #applicableCategories #category-content > li .category-name > span{
    font-size: 12px;
}
