
footer{
    background-image:url('/Background.png');
    background-size:cover;
}

footer ul li:not(:first-child){
    margin-top:12px;
    cursor:pointer;
}

footer ul li:first-child{
    margin-bottom:20px;
    font-family:'Inter', sans-serif;
    font-size:14px;
    font-weight:700;
    text-transform:uppercase;
    letter-spacing:0.7px;
}

#footer-socials{
    font-size:15px;
}
#footer-socials> :first-child{
    border: 1px solid rgb(215, 241, 72);
    padding: 3px;
    border-radius: 43px;
    font-size: 19px;
}
#footer-socials> *{
    cursor:pointer;
}

/* footer div input::placeholder{
    font-family:'Inter', san-serif;
    font-size:16px;
} */