#AddressManagementPage #address-content{
    margin-top: 3rem;
    flex-basis: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}
#AddressManagementPage #address-content>.address-fields{
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}
#AddressManagementPage #address-content .address-types>div{
    display: flex;
    align-items: center;
    gap: 5px;
}
#AddressManagementPage #address-content .address-types>div input[type= 'radio']{
    width: 10px;
    height: 10px;
    border-radius: 5px;
    border: 1px solid var(--PRIMARYDARK);
}
#AddressManagementPage #address-content .address-types>div input[type= 'radio']:checked{
    background-color: var(--PRIMARYDARK);
}
/* #AddressManagementPage #address-content .address-types>div label{
    font-size: 12.5px;
    color: var(--SECONDARY);
} */
