@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    font-family: "Saira", sans-serif;
}
@font-face{
    font-family:'funcity';
    src:url('/FunCityLevel2Basic.otf');
    /* font-size: 40px; */
}
:root{
    --PRIMARY:rgba(215, 241, 72, 1);
    --SECONDARY:rgba(159, 42, 240, 1);
}
@tailwind base;
@tailwind utilities;
@tailwind components;

.padding-main{
    padding-left:30px;
    padding-right:60px;
}

.Toastify__toast-theme--dark{
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
    color: #fff;
    backdrop-filter: blur(14px);
}
.Toastify__close-button>svg ,.Toastify__close-button--dark>svg{
    color:var(--PRIMARY)
}