
#signup-and-in::before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
    backdrop-filter:blur(2px);
}
#signup-and-in>main{
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
}
#signup-and-in>main h1{
   color:#fff; 
}
#signup-and-in>main label{
    display:block;
    margin-bottom:5px;
    text-align: left;
    color:#fff;
}
#signup-and-in>main input{
    width:100%;
    border:2px solid #fff;
    border-radius:8px;
    padding:10px;
    padding-left:20px;
    margin-left: 0px; 
}
#signup-and-in>main input::placeholder{
    font-size:12px;
}
#signup-and-in>main input:focus{
    border-color: var(--SECONDARY);
}
#signup-and-in>main input:focus-visible{
    border-color: var(--SECONDARY);
    outline:none;
}
#signup-and-in>main form .error{
    visibility:hidden;
    font-size: 11px;
    margin-left: 5px;
    margin-top: 5px;
    height:17px;
    color:yellow;
}

@keyframes draw-border {
  0% {
    border-width: 0 0 0 0;
    border-color: transparent;
  }
  25% {
    border-width: 1px 0 0 0;
    border-color: var(--SECONDARY) transparent transparent transparent;
  }
  50% {
    border-width: 1px 1px 0 0;
    border-color: var(--SECONDARY) var(--SECONDARY) transparent transparent;
  }
  75% {
    border-width: 1px 1px 1px 0;
    border-color: var(--SECONDARY) var(--SECONDARY) var(--SECONDARY)transparent;
  }
  100% {
    border-width: 1px 1px 1px 1px;
    border-color: var(--SECONDARY);
  }
}

#signup-and-in>main {
  border-style: solid;
  border-color: transparent;
  animation: draw-border 1.5s ease-in-out forwards;
}

